<div>
  <table>
    <tr>
      <td width="150"><b>Id</b>
      <td width="200"><b>Name</b>
      <td width="200"><b>Selected?</b>
      <td width="200"><b>Delete</b>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.id %>
        <td><%= ingredient.name %>
        <td><%= check_box_tag "ingredient_ids[]", ingredient.id, @selected_ingredient.id == ingredient.id, class: "ingredient-checkbox" %>
        <td><%= button_to ingredient_path(ingredient.id), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} do %><%= fa_icon "trash" %><% end %>
    <% end %>
  </table>
</div>